---
---

@charset "utf-8";
@import "variables";
@import "bootstrap";

/* Headings */
h1, h2, h3, h4, h5 {
  letter-spacing: 0.15em;
}


#ksurf h1{
  color: #f7f7f7;
  font-size: 4em;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0,0,0, 0.8);
}

#ksurf .surf-heading-3{
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 2.8em;
}

#ksurf .site-logo{
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image:  url({{ site.url }}/images/home/gray-transparent-kite-3.png);
}

#ksurf .parallax-header {
  background: transparent;

  min-height: 30vh;
  h1{
    line-height: 30vh;
    padding: 0;
    text-align: center;
  }

  &.large{
    min-height: 50vh;
    h1{
      line-height: 50vh;
      padding: 0;
      font-size: 8em;
    }
  }
  &.larger{
    min-height: 40vh;
    h1{
      line-height: 40vh;
      font-size: 6em;
      padding: 0;
    }
  }
}

/* Nav Brand */
#ksurf .navbar {
  text-transform: uppercase;
  font-size: larger;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 0.15em;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);

  .lang-selector{
    font-size: 13px;
  }
}

#ksurf .navbar-brand {
  padding: 20px 15px;
  line-height: 23px;
  font-size: 24px;
  img {
    float: left;
    margin-top: -10px;
    margin-right: -5px;
  }
}

/* Buttons */

#ksurf .btn{
  text-transform: uppercase;
  font-size: smaller;
  box-shadow: 1px 1px 4px rgba(0,0,0,.4);
  border: none;
  border-radius: 0;
  transition: all .4s;
}

/* Nav Flags */

.flag-link {
    display: inline-block;
    width: 16px;
    height: 14px;
    background:url({{site.url}}/images/nav/flags.png) no-repeat;
    text-decoration: none;
    vertical-align: middle;
}

.flag-link.flag-en {background-position: -16px 0}
.flag-link.flag-sv {background-position: 0 -11px}


/* Overall structure */
.ksurf-main {
    margin-top: 65px;
    min-height: 50vh;
}

#ksurf section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #f7f7f7;
}


#ksurf .panel{
  .panel-footer, .panel-heading{
    background-color: #ffffff;
  }
  .panel-heading.card-heading h3{
    text-align: center;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .panel-body.card-body {
    padding: 0px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

/* Footer */
#footer {
  margin-top: 4em;

  .primary-footer{
    background-color: #c8c4b7;
    color: #333333;
    padding-top: 25px;
    font-size: larger;
    a{
      color: #333333;
    }
    a:hover{
      color: #000000;
    }
  }

  .secondary-footer{
    background-color: #444444;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: larger;
  }

  .fa-2x {
    vertical-align: middle;
  }
}
