---
layout: default

en: &DEFAULT_I18N
  heading:
    lesson_packages: lesson packages
    details: lesson details
    faq: info & faq
  hours: hours
  lessons: lessons
  per_person: per participant

sv:
  <<: *DEFAULT_I18N
  heading:
    lesson_packages: kurspaket
    details: kursbeskrivning
    faq: info & faq
  hours: timmar
  lessons: lektioner
  per_person: per deltagare

---

{% assign act = site.data.activities.activities | where: 'slug', @page.role | first %}
{% assign act_i18n = act[@page.lang] %}
{% assign group_i18n = act.group[@page.lang] %}
{% assign site_i18n = site[page.lang] %}
{% assign layout_i18n = layout[page.lang] %}

<div class="parallax-header"
     data-parallax="scroll"
     data-image-src="/images/activities/banner-{{ act.group.slug }}.jpg"
     data-natural-height="800"
     data-natural-width="2000">
  <h1>
    {{ group_i18n.heading }}
  </h1>
</div>

<section class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading card-heading">
          <h3>
           {{ act_i18n.heading }}
          </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4 col-md-offset-1">
              <img src="{{ site.baseurl }}/images/activities/card-{{ act.slug }}.jpg" class="img-responsive"/>
            </div>
            <div class="col-md-6">
              <p>
                <ul class="fa-ul">
                  {% for feature in act_i18n.features %}
                  <li><i class="fa-li fa fa-chevron-right"></i>{{ feature }}</li>
                  {% endfor %}
                </ul>
              </p>
            </div>
          </div>
        </div>
        <div class="panel-footer card-heading">
          <h3>
             {{ layout_i18n.heading.lesson_packages }}
          </h3>
        </div>
        <div class="panel-footer">
          <div class="row">
            {% for plan in act.plans %}
            <div class="col-md-2 {% if forloop.first %}col-md-offset-1{% endif %}">
              <div class="panel panel-primary panel-pricing text-center">
                <div class="panel-heading">
                  <p class="hours">{{ plan.total_duration }}</p>
                  <p class="hours-unit">{{ layout_i18n.hours }}</p>
                  <p class="hours-unit">{{ plan.lessons }} {{ layout_i18n.lessons }}</p>
                </div>
                <div class="panel-body">
                  <p class="price">{{ plan.price }}</p>
                  <p class="currency">SEK</p>
                  {% if act.max_participants > 1 %}
                    <p class="per">{{ layout_i18n.per_person }}</p>
                  {% endif %}
                  <a class="tel btn btn-lg btn-primary btn-block btn-booking-request-activity"
                     href="#{{ plan.total_duration }}hours"
                     style="white-space: normal"
                     data-toggle="modal"
                     data-hours="{{ plan.total_duration }} hours / {{ plan.lessons }} lessons"
                     data-target="#booking-modal"
                     ga-on="click"
                     ga-event-category="conversion-subgoal"
                     ga-event-label="{{ act.group.slug }}-{{ act.slug }}-{{ plan.lessons }}"
                     ga-event-action="booking-form-opened">{{ site_i18n.buttons.request_booking_short }}</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="panel-footer card-heading">
          <h3>
             {{ layout_i18n.heading.details }}
          </h3>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              {{ group_i18n.lesson_plan | markdownify }}
              {{ act_i18n.lesson_desc | markdownify }}
            </div>
          </div>
        </div>
        <div class="panel-footer card-heading">
          <h3>
             {{ layout_i18n.heading.faq }}
          </h3>
        </div>
        <div class="panel-footer">
          {% assign categories = "booking,general" | split: "," | unshift: @act.group.slug %}
          {% for category in categories %}
            {% assign faqs = site.data.faq[@page.lang] | where: 'category', @category %}
            {% for faq in faqs %}
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <p>
                    <strong><i class="fa fa-chevron-right"></i> {{ faq.q }}</strong>
                  </p>
                  {{ faq.a | markdownify }}
                  <hr/>
                </div>
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</section>


<!-- Modal -->
{% assign form_i18n = site_i18n.booking_form %}
<div class="modal fade" id="booking-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ form_i18n.cancel }}"><i class="fa fa-times"></i></button>
        <h4 class="modal-title" id="myModalLabel">{{ form_i18n.heading }}</h4>
      </div>

        <div class="modal-body">
          <form action="https://formden.com/post/NwbH7UeX/" method="post">

            <div class="form-group">
              <label class="hidden-sm hidden-xs" for="nameInput">{{ form_i18n.name.label }}</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>
                <input name="name" type="text" class="form-control" id="nameInput" placeholder="{{ form_i18n.name.label }}">
              </div>
            </div>

            <div class="form-group">
              <label class="hidden-sm hidden-xs" for="emailInput">{{ form_i18n.email.label }}</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-fw fa-at"></i></span>
                <input name="email" type="email" class="form-control" id="emailInput" placeholder="{{ form_i18n.email.label }}">
              </div>
            </div>

            <div class="form-group">
              <label class="hidden-sm hidden-xs" for="phoneInput">{{ form_i18n.phone.label }}</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-fw fa-phone"></i></span>
                <input name="phone" type="text" class="form-control" id="phoneInput" placeholder="{{ form_i18n.phone.label }}">
              </div>
            </div>

            <div class="form-group">
              <label class="hidden-sm hidden-xs" for="lessonsInput">{{ form_i18n.lessons.label }}</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-fw fa-signal"></i></span>
                <select class="form-control" id="lessonsInput" name="lessons">
                  {% for plan in act.plans %}
                  <option value="{{ plan.total_duration }} hours / {{ plan.lessons }} lessons">
                  {{ plan.lessons }} {{ layout_i18n.lessons }} / {{ plan.total_duration }} {{ layout_i18n.hours }} / {{ plan.price }} SEK {% if act.max_participants > 1 %}pp{% endif %}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="hidden-sm hidden-xs" for="dateInput">{{ form_i18n.start_date.label }}</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-fw fa-calendar"></i></span>
                <input name="start_date" style="background-color: white;"
                       type="text" class="form-control" readonly="true" id="dateInput" placeholder="{{ form_i18n.start_date.label }}">
              </div>
            </div>

            {% if act.max_participants > 1 %}
            <div class="form-group">
              <label class="hidden-sm hidden-xs" for="participantsInput">{{ form_i18n.participants.label }}</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-fw fa-users"></i></span>
                <select class="form-control" id="participantsInput" name="participants">
                  {% for num in (1..act.max_participants) %}
                  <option>
                    {{ num }} {{ form_i18n.participants.label }}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            {% endif %}

            <div class="form-group">
              <label for="requestsInput">{{ form_i18n.special_requests.label }}</label>
              <textarea class="form-control" rows="3" id="requestsInput" name="special_requests"></textarea>
            </div>
            <p>
              {% assign terms_page = site.pages | where: 'role', 'terms' | where: 'lang', @page.lang | first %}
              <a href="{{ site.baseurl }}{{ terms_page.url }}" target="_blank">{{ terms_page.nav_text }}</a>
            </p>
            <input type="hidden" name="subject" value="Activity form - {{ act.slug  }}">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ form_i18n.cancel }}</button>
            <button type="submit"
                    class="btn btn-primary pull-right"
                    ga-on="click"
                    ga-event-category="conversion-goal"
                    ga-event-label="{{ act.group.slug }}-{{ act.slug }}"
                    ga-event-action="booking-form-sent">{{ form_i18n.send }}</button>

          </form>
          <div class="form-alert-success hidden">
            <div class="alert alert-success text-center" role="alert">
              {{ form_i18n.thank_you | safe }}
            </div>
            <button type="button" class="btn btn-default btn-block" data-dismiss="modal">{{ form_i18n.close }}</button>
          </div>
        </div>

    </div>
  </div>
</div>
