---
layout: default
---

{% assign site_i18n = site[page.lang] %}
{% assign camp_destinations = site.data.camps.destinations %}

{% assign dest = site.data.camps.destinations | first %}
{% assign dest_i18n = dest[page.lang] %}

{% assign all_camps = site.data.camps.camps | where: 'destination.slug', dest.slug %}
{% assign open_camps = all_camps | where: 'open', true %}

<div id="trips-heading"
     class="parallax-header larger"
     data-parallax="scroll"
     data-image-src="{{ site.baseurl }}/images/camps/banner-camps.jpg"
     data-natural-height="800"
     data-natural-width="2000">
  <h1>
    {{ page.heading }}
  </h1>
</div>

<section class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading card-heading">
          <h3>
           {{ dest_i18n.name }} {{ page.upcoming_section.for_year }}
          </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
               <div class="embed-responsive embed-responsive-16by9">
                 <iframe class="embed-responsive-item" src="{{ dest.video }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
               </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
              <hr>
              <p>
                {{ dest_i18n.pitch | markdownify }}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <hr>
              <h4 class="text-uppercase heading-compact">
                {{ page.upcoming_section.available_dates }} {{ page.upcoming_section.for_year }}
              </h4>
              {% if open_camps == empty %}
              <div class="row">
                <div class="col-md-12">
                  {{ page.upcoming_section.no_camps_available }}
                </div>
              </div>
              {% endif %}
              <div class="row">
                {% for trip in open_camps %}
                {% assign trip_i18n = trip[page.lang] %}
                {% assign camp_page = site.pages | where: 'role', trip.slug | where: 'lang', page.lang | first %}
                <div class="col-md-6">

                  <div class="media media-camp-trip">
                    <div class="media-left text-center">
                      <div class="panel panel-success panel-date">
                        <div class="panel-heading text-uppercase text-center">
                          <i class="fas fa-plane-departure"></i>
                        </div>
                        <div class="panel-body text-uppercase text-center">
                          <strong style="font-size: large">{{ trip.departure|date:"%d" }}</strong><br>
                          {{ trip.departure|date:"%b" }}
                        </div>
                      </div>
                    </div>
                    <div class="media-body">
                      <ul class="fa-ul">
                        {% for feature in trip.features[page.lang] %}
                        <li><i class="fa-li fa fa-angle-double-right"></i> {{ feature }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="media-right text-center">
                      <div class="panel panel-warning panel-date">
                        <div class="panel-heading text-uppercase text-center">
                          <i class="fas fa-plane-arrival"></i>
                        </div>
                        <div class="panel-body text-uppercase text-center">
                          <strong style="font-size: large">{{ trip.return|date:"%d" }}</strong><br>
                          {{ trip.return|date:"%b" }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <p>
                    <a class="btn btn-lg btn-primary btn-block"
                       href="{{ site.baseurl }}{{ camp_page.url }}">
                      {{ site_i18n.buttons.info_pricing }}
                    </a>
                  </p>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
