---
layout: default

en: &DEFAULT_I18N
  packages_heading: packages


sv:
  <<: *DEFAULT_I18N
  packages_heading: resepaket
---

{% assign camp = site.data.camps.camps | where:'slug', @page.role | first %}

{% assign dest = camp.destination %}
{% assign dest_i18n = dest[@page.lang] %}
{% assign site_i18n = site[page.lang] %}
{% assign layout_i18n = layout[page.lang] %}

<div id="trips-heading"
     class="parallax-header larger"
     data-parallax="scroll"
     data-image-src="https://unsplash.it/2000/800"
     data-natural-height="800"
     data-natural-width="2000">
  <h1>
    {{ dest_i18n.name }} {{ camp.departure | date:'%Y' }}
  </h1>
</div>

<section class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading card-heading">
          <h3>
           {{ dest_i18n.name }} {{ camp.departure | date:'%b %Y' }}
          </h3>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              &nbsp; Huge calendar markers
            </div>
            <div class="row">
              <div class="col-md-3 col-md-offset-1">
                <img src="https://unsplash.it/600/400" class="img-responsive"/>
              </div>
              <div class="col-md-7">
                <p>{{ dest_i18n.desc_1 }}</p>
              </div>
            </div>
            <div class="row">
              &nbsp;
            </div>
            <div class="row">
              <div class="col-md-3 col-md-push-8">
                <img src="https://unsplash.it/600/400" class="img-responsive"/>
              </div>
              <div class="col-md-7 col-md-offset-1 col-md-pull-3">
                <p>{{ dest_i18n.desc_2 }}</p>
              </div>

            </div>
          </li>
          {% if dest.video != null %}
          <li class="list-group-item">
           <div class="row">
             <div class="col-md-10 col-md-offset-1">
               <div class="embed-responsive embed-responsive-16by9">
                 <iframe class="embed-responsive-item" src="{{ dest.video }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
               </div>
             </div>
           </div>
          </li>
          {% endif %}
          <li class="list-group-item card-heading">
            <h3 class="text-center text-uppercase">
              {{ layout_i18n.packages_heading }}
            </h3>
          </li>

          <li class="list-group-item">
          </li>

        </ul>

      </div>
    </div>

  </div>
</section>


<!-- Modal -->
{% assign form_i18n = site_i18n.booking_form %}
<div class="modal fade" id="booking-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ form_i18n.cancel }}"><i class="fa fa-times"></i></button>
        <h4 class="modal-title" id="myModalLabel">{{ form_i18n.heading }}</h4>
      </div>

        <div class="modal-body">
          <form action="https://formden.com/post/NwbH7UeX/" method="post">

            <div class="form-group">
              <label class="hidden-sm hidden-xs" for="nameInput">{{ form_i18n.name.label }}</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input name="name" type="text" class="form-control" id="nameInput" placeholder="{{ form_i18n.name.label }}">
              </div>
            </div>

            <div class="form-group">
              <label class="hidden-sm hidden-xs" for="emailInput">{{ form_i18n.email.label }}</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-at"></i></span>
                <input name="email" type="email" class="form-control" id="emailInput" placeholder="{{ form_i18n.email.label }}">
              </div>
            </div>

            <div class="form-group">
              <label class="hidden-sm hidden-xs" for="phoneInput">{{ form_i18n.phone.label }}</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                <input name="phone" type="text" class="form-control" id="phoneInput" placeholder="{{ form_i18n.phone.label }}">
              </div>
            </div>

            <div class="form-group">
              <label class="hidden-sm hidden-xs" for="lessonsInput">{{ form_i18n.lessons.label }}</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-signal"></i></span>
                <select class="form-control" id="lessonsInput" name="lessons">
                  {% for plan in act.plans %}
                  <option value="{{ plan.total_duration }} hours / {{ plan.lessons }} lessons">
                  {{ plan.lessons }} {{ layout_i18n.lessons }} / {{ plan.total_duration }} {{ layout_i18n.hours }} / {{ plan.price }} SEK {% if act.max_participants > 1 %}pp{% endif %}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="hidden-sm hidden-xs" for="dateInput">{{ form_i18n.start_date.label }}</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input name="start_date" type="text" class="form-control" readonly="true" id="dateInput" placeholder="{{ form_i18n.start_date.label }}">
              </div>
            </div>

            {% if act.max_participants > 1 %}
            <div class="form-group">
              <label class="hidden-sm hidden-xs" for="participantsInput">{{ form_i18n.participants.label }}</label>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users"></i></span>
                <select class="form-control" id="participantsInput" name="participants">
                  {% for num in (1..act.max_participants) %}
                  <option>
                    {{ num }} {{ form_i18n.participants.label }}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            {% endif %}

            <div class="form-group">
              <label for="requestsInput">{{ form_i18n.special_requests.label }}</label>
              <textarea class="form-control" rows="3" id="requestsInput" name="special_requests"></textarea>
            </div>
            <p>
              {% assign terms_page = site.pages | where: 'role', 'terms' | where: 'lang', @page.lang | first %}
              <a href="{{ site.baseurl }}{{ terms_page.url }}" target="_blank">{{ terms_page.nav_text }}</a>
            </p>
            <input type="hidden" name="subject" value="Booking request - {{ act.slug  }}">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ form_i18n.cancel }}</button>
            <button type="submit"
                    class="btn btn-primary pull-right"
                    ga-on="click"
                    ga-event-category="conversion-goal"
                    ga-event-label="{{ act.group.slug }}-{{ act.slug }}-{{ plan.lessons }}"
                    ga-event-action="booking-form-sent">{{ form_i18n.send }}</button>

          </form>
          <div class="form-alert-success hidden">
            <div class="alert alert-success text-center" role="alert">
              {{ form_i18n.thank_you | safe }}
            </div>
            <button type="button" class="btn btn-default btn-block" data-dismiss="modal">{{ form_i18n.close }}</button>
          </div>
        </div>

    </div>
  </div>
</div>
