{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block extra_css %}
  <link href="{{ '/static/activities.css' | url }}" rel="stylesheet">
{% endblock %}

{% set images = this.attachments.images %}
{% set data = bag('activities-sections') %}
{% block body %}

  <section class="container">

    <div class="row">
      <div class="col-md-12">
        <h3 class="border-line-bottom text-uppercase">
          {{ data.kite_surf_group[alt] }}
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">

        <div class="surf-feature">
          <h4 class="text-center bg-primary">{{ data.kite_surf_group_1.name }}</h4>

          <img class="img-responsive" src="{{ images.get(data.kite_surf_group_1.image) | url }}">
          <h3 class="text-center feature-price">{{ data.kite_surf_group_1.duration_price }}</h3>

          <div class="feature-action text-center">
            <a href="#">{{ data.more_button[alt] }}</a>
            <a href="{{ '/booking#group' | url(alt=alt)  }}" type="button" class="btn btn-primary btn-block">{{ data.book_button[alt] }}</a>
          </div>
        </div>

      </div>

      <div class="col-md-4">

        <div class="surf-feature">
          <h4 class="text-center bg-primary">{{ data.kite_surf_group_2.name }}</h4>

          <img class="img-responsive" src="{{ images.get(data.kite_surf_group_2.image) | url }}">
          <h3 class="text-center feature-price">{{ data.kite_surf_group_2.duration_price }}</h3>

          <div class="feature-action text-center">
            <a href="#">{{ data.more_button[alt] }}</a>
            <a href="{{ '/booking#group' | url(alt=alt)  }}" type="button" class="btn btn-primary btn-block">{{ data.book_button[alt] }}</a>
          </div>
        </div>

      </div>

      <div class="col-md-4">

        <div class="surf-feature">
          <h4 class="text-center bg-primary">{{ data.kite_surf_group_3.name }}</h4>

          <img class="img-responsive" src="{{ images.get(data.kite_surf_group_3.image) | url }}">
          <h3 class="text-center feature-price">{{ data.kite_surf_group_3.duration_price }}</h3>

          <div class="feature-action text-center">
            <a href="#">{{ data.more_button[alt] }}</a>
            <a href="{{ '/booking#group' | url(alt=alt)  }}" type="button" class="btn btn-primary btn-block">{{ data.book_button[alt] }}</a>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="surf-feature surf-feature-horizontal">
          <div class="row">
            <div class="col-md-12">
              <h4 class="text-center bg-primary">{{ data.kite_surf_private[alt] }}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <img class="img-responsive" src="{{ images.get(data.kite_surf_private.image) | url }}">
            </div>
            <div class="col-md-8">
              <h3 class="text-center feature-price">{{ data.kite_surf_private.duration_price }}</h3>
              <p class="text-center"> {{ data.kite_surf_private['desc_' + alt] | safe }} </p>
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <div class="feature-action text-center">
                    <a href="#">{{ data.more_button[alt] }}</a>
                    <a href="{{ '/booking#private' | url(alt=alt)  }}" type="button" class="btn btn-primary btn-block">{{ data.book_button[alt] }}</a>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </div>

  </section>

  <section class="container">

    <div class="row">
      <div class="col-md-12">
        <h3 class="border-line-bottom text-uppercase text-right">
          {{ data.sup_group[alt] }}
        </h3>
      </div>
    </div>

    <div class="row">

    </div>
    <div class="row">

    </div>


  </section>
  <section class="container">

    <div class="row">
      <div class="col-md-12">
        <h3 class="border-line-bottom text-uppercase">
          {{ data.kids_group[alt] }}
        </h3>
      </div>
    </div>
  </section>

{% endblock %}
