{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block extra_css %}
  <link href="{{ '/static/activities.css' | url }}" rel="stylesheet">
{% endblock %}

{% set images = this.attachments.images %}
{% block body %}

  <section>
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <h5 class="border-line-bottom text-uppercase margin-md-top">
            Prova på kite surfing
          </h5>
        </div>
      </div>
      <div class="row margin-xs-top">
        <div class="col-md-4">
          <div>
             <img class="img-responsive" src="{{ images.get('home-activities-1.jpg') | url }}" alt="Kite surfing">
          </div>
          <div>
             <button type="button" class="btn btn-warning btn-block margin-sm-top">Boka prova på lektion</button>
          </div>

        </div>

        <div class="col-md-8">
          <div class="panel">
            <div class="panel-body">

            </div>
          </div>

        </div>
      </div>

    </div>
  </section>

{% endblock %}
