{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block extra_css %}

{% endblock %}

{% set images = this.attachments.images %}
{% set contact = bag('contact') %}
{% block body %}

  <section class="section">

    <div class="container">
      <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h3 class="border-line-bottom text-uppercase">
          {% if alt == 'en' %}
            Contact us
          {% endif %}
          {% if alt == 'sv' %}
            Kontakta oss
          {% endif %}
        </h3>
      </div>
    </div>
      <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h4 class="text-uppercase">
          {% if alt == 'en' %}
            Call us
          {% endif %}
          {% if alt == 'sv' %}
            Ring oss
          {% endif %}
        </h4>
        <div>
          <a class="tel btn btn-lg btn-primary btn-block" href="tel:{{ contact.tel }}"><i class="fa fa-phone"></i> {{ contact.tel }}</a>
        </div>
      </div>
    </div>
      <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h4 class="text-uppercase text-right">
          {% if alt == 'en' %}
            E-mail us
          {% endif %}
          {% if alt == 'sv' %}
            Maila oss
          {% endif %}
        </h4>
        <div>
          <a class="tel btn btn-lg btn-primary btn-block" href="mailto:{{ contact.email | safe}}" style="text-transform: none"><i class="fa fa-envelope"></i> {{ contact.email | safe }}</a>
        </div>
      </div>
    </div>
      <div class="row">
      <div class="col-md-12">
        <h4 class=" text-center">
          {% if alt == 'en' %}
            Or
          {% endif %}
          {% if alt == 'sv' %}
            Eller
          {% endif %}
        </h4>

      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-default">

            <div class="panel-body">

              <form id="contact-me-form" role="form" data-toggle="validator">
                <h4 class=" text-center">
                  {% if alt == 'en' %}
                    Leave your contact details,<br/>we will get back to you.
                  {% endif %}
                  {% if alt == 'sv' %}
                    Lämna dina kontaktuppgifter,<br/>så kontaktar vi dig.
                  {% endif %}
                </h4>
                <div class="form-group">
                  <label for="nameInput">
                    {% if alt == 'en' %}Name{% endif %}{% if alt == 'sv' %}Namn{% endif %}
                  </label>
                  <input required type="text" class="form-control" id="nameInput" placeholder="{% if alt == 'en' %}First Last{% endif %}{% if alt == 'sv' %}Förnamn Efternamn{% endif %}" name="name">
                  <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                  <label for="emailInput">E-mail</label>
                  <input required type="email" class="form-control" id="emailInput" placeholder="email@example.com" name="email">
                  <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                  <label for="phoneInput">{% if alt == 'en' %}Phone{% endif %}{% if alt == 'sv' %}Mobil{% endif %}</label>
                  <input required type="text" data-minlength="9" class="form-control" id="phoneInput" placeholder="070 ...." name="phone">
                  <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                  <label for="nameInput">{% if alt == 'en' %}Preferred means of contact{% endif %}{% if alt == 'sv' %}Kontakta mig via{% endif %}</label>

                  <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default active">
                      <input type="radio" name="via" autocomplete="off" value="phone" checked>{% if alt == 'en' %}Phone{% endif %}{% if alt == 'sv' %}Telefon{% endif %}
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" name="via" autocomplete="off" value="mail"> E-mail
                    </label>
                  </div>


                </div>
                <button type="submit" class="btn btn-primary btn-block">{% if alt == 'en' %}Contact me{% endif %}{% if alt == 'sv' %}Kontakta mig{% endif %}</button>
              </form>
              <div id="contact-me-form-alert" class="alert alert-success text-center hidden" role="alert" style="margin-bottom: 0">
                {% if alt == 'en' %}
                  <strong>Thank you!</strong> We'll get in touch as soon as possible.
                {% endif %}
                {% if alt == 'sv' %}
                  <strong>Tack!</strong> Vi kontaktar dig snart vi kan.
                {% endif %}
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
    </div>

  </section>


{% endblock %}
