{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <div class="container-fluid" id="home-carousel-container">
    <div id="home-carousel"
         class="carousel slide"
         data-ride="carousel"
         data-interval="5000">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home-carousel" data-slide-to="1"></li>
        <li data-target="#home-carousel" data-slide-to="2"></li>
        <li data-target="#home-carousel" data-slide-to="3"></li>
        <li data-target="#home-carousel" data-slide-to="4"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active splash">
          <img src="{{ 'home-carousel-1.jpg' | url }}" alt="Image 1">
          <div class="carousel-caption">
            foo 1
          </div>
        </div>
        <div class="item splash">
          <img src="{{ 'home-carousel-2.jpg' | url }}" alt="Image 2">
          <div class="carousel-caption">
            bar 2
          </div>
        </div>
        <div class="item splash">
          <img src="{{ 'home-carousel-3.jpg' | url }}" alt="Image 3">
          <div class="carousel-caption">
            bar 2
          </div>
        </div>
        <div class="item splash">
          <img src="{{ 'home-carousel-4.jpg' | url }}" alt="Image 4">
          <div class="carousel-caption">
            bar 2
          </div>
        </div>
          <div class="item splash">
          <img src="{{ 'home-carousel-5.jpg' | url }}" alt="Image 5">
          <div class="carousel-caption">
            bar 2
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="home-carousel-buffer"></div>

  <section class="container">

    <div class="row">
      <div class="col-xs-12">
        <h3>
          Activities
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Kite surfing</div>
          <div class="panel-body">
            <img class="img-responsive" src="{{ 'home-activities-1.jpg' | url }}" alt="Kite surfing">
          </div>
          <div class="panel-footer">
            Some text describing kite surfing, and why it is super great.
            <a class="btn btn-warning btn-block" href="#" role="button">Book now</a>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">SUP boarding</div>
          <div class="panel-body">
            <img class="img-responsive" src="{{ 'home-activities-2.jpg' | url }}" alt="SUP boarding">
          </div>
          <div class="panel-footer">
            Some text describing stand up board paddling, and why it is super great.
            <a class="btn btn-warning btn-block" href="#" role="button">Book now</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Children's activities</div>
          <div class="panel-body">
            <img class="img-responsive" src="{{ 'home-activities-3.jpg' | url }}" alt="Children's activities">
          </div>
          <div class="panel-footer">
            Some text describing Children's activities, and why it is super great.
            <a class="btn btn-warning btn-block" href="#" role="button">Book now</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Rentals</div>
          <div class="panel-body">
            <img class="img-responsive" src="{{ 'home-activities-4.jpg' | url }}" alt="Rentals">
          </div>
          <div class="panel-footer">
            Equipment at great prices
            <a class="btn btn-warning btn-block" href="#" role="button">Book now</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Camps</div>
          <div class="panel-body">
            <img class="img-responsive" src="{{ 'home-activities-5.jpg' | url }}" alt="Camps">
          </div>
          <div class="panel-footer">
            Some text describing Camps, and why it is super great.
            <a class="btn btn-warning btn-block" href="#" role="button">Book now</a>
          </div>
        </div>
      </div>


    </div>


  </section>

{{ this.body }}
{% endblock %}
