{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block extra_css %}
  <link href="{{ '/static/home.css' | url }}" rel="stylesheet">
{% endblock %}

{% set images = this.attachments.images %}
{% block body %}
  <div class="container-fluid" id="home-carousel-container">
    <div id="home-carousel"
         class="carousel slide"
         data-ride="carousel"
         data-interval="5000"
         data-pause="hover">

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home-carousel" data-slide-to="1"></li>
        <li data-target="#home-carousel" data-slide-to="2"></li>
        <li data-target="#home-carousel" data-slide-to="3"></li>
        <li data-target="#home-carousel" data-slide-to="4"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="{{ images.get('home-carousel-1.jpg') | url }}" alt="Location: Skanör, Swedenr">
          <div class="carousel-caption" id="caption-1">
            Location: Skanör, Sweden
          </div>
        </div>
        <div class="item">
          <img src="{{ images.get('home-carousel-2.jpg') | url }}" alt="Our story">
          <div class="carousel-caption" id="caption-2">
            Our story
          </div>
        </div>
        <div class="item">
          <img src="{{ images.get('home-carousel-3.jpg') | url }}" alt="Kite surfing">
          <div class="carousel-caption" id="caption-3">
            Kite surfing
          </div>
        </div>
        <div class="item">
          <img src="{{ images.get('home-carousel-4.jpg') | url }}" alt="Stand up paddling">
          <div class="carousel-caption" id="caption-4">
            Stand up paddling
          </div>
        </div>
          <div class="item">
          <img src="{{ images.get('home-carousel-5.jpg') | url }}" alt="Trips: Morocco">
          <div class="carousel-caption" id="caption-5">
            Trips: Morocco
          </div>
        </div>
      </div>
    </div>

  </div>

  <section class="bg-paper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h4 class="border-line-bottom text-center text-uppercase margin-lg-top">
            Aktiviteter
          </h4>
        </div>
      </div>

      <div class="row margin-sm-top">
        <div class="col-md-6">
          <a href="{{ '/activities/#kite-surfing' | url(alt=alt) }}" class="inline-block position-relative featured featured-lg hvr-float">
            <div class="overflow-hidden">
              <img class="img-responsive" src="{{ images.get('home-activities-1.jpg') | url }}" alt="Kite surfing">
            </div>
            <div class="featured-desc">
              <div class="text-serif featured-title">
                Kite surfing kurser
              </div>
              <div class="featured-body">
                Ta din kite surfing till nästa nivå, eller bara prova på,
                vi har kurser som passar både nybörjare och världsmästare.
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-6">

          <a href="{{ '/activities/#sup' | url(alt=alt) }}" class="inline-block position-relative featured featured-lg hvr-float">
            <div class="overflow-hidden">
              <img class="img-responsive" src="{{ images.get('home-activities-2.jpg') | url }}" alt="Stand up paddling">
            </div>
            <div class="featured-desc">
              <div class="text-serif featured-title">
                Stand up paddling
              </div>
              <div class="featured-body">
                Träning för kropp och själ, tränar kordination och balans,
                perfekt för att lämna stressen bakom sig.
              </div>
            </div>
          </a>

        </div>
      </div>

      <div class="row margin-sm-top">
        <div class="col-md-4">

          <a href="{{ '/activities/#skin' | url(alt=alt) }}" class="inline-block position-relative featured featured-sm hvr-float">
            <div class="overflow-hidden">
              <img class="img-responsive" src="{{ images.get('home-activities-3.jpg') | url }}" alt="Skin boarding">
            </div>
            <div class="featured-desc">
              <div class="text-serif featured-title">
                Skin boarding
              </div>
              <div class="featured-body">
                Hitta nya sätt att ha roligt på stranden,
                passar alla åldrar, perfekt för dem som är lite yngre
              </div>
            </div>
          </a>

        </div>


        <div class="col-md-4">

          <a href="{{ '/rentals' | url(alt=alt) }}" class="inline-block position-relative featured featured-sm hvr-float">
            <div class="overflow-hidden">
              <img class="img-responsive" src="{{ images.get('home-activities-4.jpg') | url }}" alt="Rentals">
            </div>
            <div class="featured-desc">
              <div class="text-serif featured-title">
                Uthyrning
              </div>
              <div class="featured-body">
                Hyr kites, brädor och annan utrustning, över dagen eller helgen,
                till förmånliga priser
              </div>
            </div>
          </a>

        </div>
        <div class="col-md-4">

          <a href="{{ '/travel' | url(alt=alt) }}" class="inline-block position-relative featured featured-sm hvr-float">
            <div class="overflow-hidden">
              <img class="img-responsive" src="{{ images.get('home-activities-5.jpg') | url }}" alt="Travel">
            </div>
            <div class="featured-desc">
              <div class="text-serif featured-title">
                Resor
              </div>
              <div class="featured-body">
                Trött på kylan?<br>
                Följ med oss till Morocco på kite surfing läger
              </div>
            </div>
          </a>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <h4 class="border-line-bottom text-center text-uppercase margin-md-top">
            Hitta hit
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <iframe
            width="100%"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCWL32YkvKsVF77E2GF9M12jWMtDQNS7po&q=Badhytten,Skanör,Sverige&zoom=10" allowfullscreen>
          </iframe>

        </div>
      </div>


    </div>
  </section>

{% endblock %}
