{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block extra_css %}

{% endblock %}

{% set images = this.attachments.images %}
{% block body %}

  <section class="container">

    <div class="row">
      <div class="col-md-12">
        <h3 class="border-line-bottom text-uppercase">
          {% if alt == 'en' %}
            Coming soon
          {% endif %}
          {% if alt == 'sv' %}
            Kommer snart
          {% endif %}
        </h3>
      </div>
    </div>

  </section>


{% endblock %}
