#surf .surf-feature{
    margin-top: 25px;
    border: #c0c0c0 1px solid;
}

#surf .surf-feature h4{
    margin: 0;
    text-transform: uppercase;
    padding: 15px 0;
}

#surf .surf-feature .feature-price{
    padding: 15px 0;
}

#surf .surf-feature.surf-feature-horizontal .feature-header{
    border-bottom: #c0c0c0 1px solid;
}


#surf .surf-feature.surf-feature-horizontal  .feature-price{
    margin: 0 0;
    padding: 9px 0;
}

#surf .surf-feature .feature-action{
    padding: 15px 10px;
}

#surf .sup-contact-button{
    padding-top: 10px;
}

#surf .sup-pricing{
    margin-top: 8px;
}