
#surf .panel-body {
  padding: 0px;
}


#surf .home-text{
  font-size: 20px;
}
/* home components */

#surf .featured {
  border: none;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
  text-decoration: none;
  color: black;
}

#surf .featured.featured-lg .featured-desc {
  padding: 20px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 30%;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 46%, rgba(0, 0, 0, 0.76));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 46%, rgba(0, 0, 0, 0.76));
}

#surf .featured.featured-lg .featured-title {
  color: white;
  font-size: x-large;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 0.15em;
}

#surf .featured.featured-lg .featured-body{
  color: white;
}

#surf .featured.featured-sm .featured-desc {
  padding: 10px;
}

#surf .featured.featured-sm .featured-title {
  color: #f7f7f7;
  text-shadow: 1px 1px 1px rgba(0,0,0, 0.6);
}

#surf .featured.featured-sm .featured-body {
  font-size: small;
}

#surf .featured {
  margin-bottom: 5em;
}
#surf .featured img {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

#surf .featured:hover img, #surf .featured:focus img, #surf .featured:active img{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}