/* Overall Typography */

#surf {
    font-family: 'Open Sans', sans-serif;
}

#surf .text-serif{
    font-family: 'Lora', serif;
}

/* Overall structure */
.surf-main {
    margin-top: 65px;
}

#surf .container-fluid {
    padding: 0px;
}


/* BG colors */

#surf .bg-paper {
    background-color: #f7f7f7;
}

/* Nav Brand */
.navbar-brand img{
    float: left;
    margin-top: -2px;
    margin-right: 4px;
}
.navbar {
    text-transform: uppercase;
    font-size: larger;
}

/* Nav Flags */

.flag-link {
    display: inline-block;
    width: 16px;
    height: 11px;
    background:url(flags.png) no-repeat;
    text-decoration: none;
    vertical-align: middle;
    margin-right: 5px;
}

.flag-link.flag-gb {background-position: -16px 0}
.flag-link.flag-se {background-position: 0 -11px}

/* customizations */
#surf .margin-lg-top {
    margin-top: 100px;
}

#surf .margin-md-top {
    margin-top: 50px;
}

#surf .margin-sm-top {
    margin-top: 30px;
}

#surf .border-line-bottom {
    border-bottom: solid 1px #c2c2c2;
}

#surf .overflow-hidden {
    overflow: hidden;
}

#surf .position-relative {
    position: relative;
}

#surf .inline-block {
    display: inline-block;
}


/* Footer*/

#footer a {
    color: white;
}
#footer a:hover {
    color: #bce8f1;
}

#footer .primary-footer{
    background-color: #11557C;
    padding-top: 25px;
    font-size: larger;
}

#footer .fa-large {
    font-size: xx-large;
    margin-left: 15px;
    vertical-align: middle;
}

#footer .secondary-footer{
    background-color: #444444;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: larger;
}