/* Overall Typography */

#surf {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
}

#surf section {
    margin-top: 4em;
}

/* Overall structure */
.surf-main {
    margin-top: 65px;
}


/* Nav Brand */
.navbar-brand img{
    float: left;
    margin-top: -2px;
    margin-right: 4px;
}
.navbar {
    text-transform: uppercase;
    font-size: larger;
}

/* Nav Flags */

.flag-link {
    display: inline-block;
    width: 16px;
    height: 11px;
    background:url(flags.png) no-repeat;
    text-decoration: none;
    vertical-align: middle;
    margin-right: 5px;
}

.flag-link.flag-en {background-position: -16px 0}
.flag-link.flag-sv {background-position: 0 -11px}

/* customizations */
#surf .border-line-bottom {
    border-bottom: solid 1px #c2c2c2;
}

#surf .overflow-hidden {
    overflow: hidden;
}

#surf .position-relative {
    position: relative;
}

#surf .inline-block {
    display: inline-block;
}


/* Footer*/
#footer {
    margin-top: 8em;
}
#footer a {
    color: white;
}
#footer a:hover {
    color: #bce8f1;
}

#footer .primary-footer{
    background-color: #11557C;
    padding-top: 25px;
    font-size: larger;
}

#footer .secondary-footer{
    background-color: #444444;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: larger;
}
#footer .fa-2x {
  vertical-align: middle;
}